body {
  margin: 0;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    height: 74px;
    height: 568px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    margin-right: 10px;
    width: 20px;
    height: 14px;
  }

  .headline-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 16px 40px 16px;
  }

  .headline-cont h1 {
    height: 100px;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    margin: 0;
    line-height: 50px;
    font-weight: 400;
  }

  .headline-cont p {
    color: #1a2236;
    width: 288px;
    height: 126px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -1%;
    margin: 0;
  }

  form ul li button {
    border: none;
    font-family: "Poppins", sans-serif;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: #1a2236;
    color: #fff;
  }

  .headline-cont button {
    border: none;
    font-family: "Poppins", sans-serif;
    width: 288px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: #1a2236;
    color: #fff;
  }

  .headline-cont button:hover,
  .headline-cont button:focus {
    cursor: pointer;
    border: 1px solid #1a2236;
    background-color: #e5e5e5;
    color: #1a2236;
  }

  .headline-img {
    height: 160px;
    width: 320px;
  }

  .projects h2 {
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 50px;
    margin: 39.9px 123px 32px 16px;
  }

  .cart {
    display: flex;
    flex-direction: column;
  }

  .cart img {
    width: 320px;
    height: 186px;
  }

  .proj-cont {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 156px;
    background-color: #1a2236;
  }

  .proj-cont p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    margin-left: 20px;
    padding: 0;
  }

  .cart ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0 20px 20px;
    text-align: center;
  }

  form ul li {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
  }

  .cart ul li {
    list-style: none;
    font-size: 10.33px;
    text-decoration: none;
    background-color: #98dede;
    color: #1a2236;
    padding: 6px 10px;
  }

  .contact img {
    width: 111px;
    height: 74.02px;
    margin-bottom: 31.98px;
  }

  .project-butt {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 178px;
    height: 44px;
    color: #fff;
    border: 1px solid #fff;
  }

  .tech img {
    width: 102px;
    height: 102px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .project-butt p {
    font-size: 16px;
    padding-right: 10px;
    margin: 10px 0 10px 10px;
  }

  .project-butt:hover,
  .project-butt:focus {
    cursor: pointer;
    border: 1px solid #1a2236;
    background-color: #e5e5e5;
  }

  .project-butt img {
    width: 20.57px;
    height: 15.35px;
  }

  .about-butt img {
    width: 24px;
    height: 24px;
  }

  .project-butt img:hover,
  .project-butt img:focus {
    color: #1a2236;
  }

  .about-butt p {
    width: 86px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  .project-butt p:hover,
  .project-butt p:focus {
    color: #1a2236;
  }

  .about {
    margin: 56px 16px 50px 16px;
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .about-text h2 {
    height: 50px;
    width: 134px;
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .about-butt {
    width: 288px;
    height: 50px;
    background-color: #1a2236;
    border: 1px solid #1a2236;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .tech {
    position: relative;
    width: 289px;
    height: 289px;
  }

  .tech-1 {
    background-color: #1c528a;
  }

  .tech-2 {
    background-color: #e2505c;
  }

  .tech-3 {
    background-color: #febf52;
  }

  .tech div h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
    padding: 50px 123px 21px 50px;
    margin: 0;
  }

  .tech div {
    display: flex;
    flex-direction: column;
  }

  .tech div ul {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 60px;
    padding-left: 0;
    width: 178px;
    height: 135px;
  }

  .tech div ul li {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .contact {
    background: #f9f9fa;
    width: 320px;
  }

  footer {
    margin: 50px 0 100px 0;
  }

  .contact div h2 {
    font-size: 50px;
    margin: 0;
    margin-left: 16px;
    margin-bottom: 20px;
    color: #1a2236;
    font-family: "Playfair Display", serif;
    line-height: 50px;
    font-weight: 400;
  }

  .container .contact div p {
    font-size: 14px;
    margin: 20px 16px 32px 16px;
    color: #1a2236;
    font-family: "Poppins", serif;
    line-height: 21px;
    font-weight: 400;
  }

  .container .contact form {
    width: 288px;
    margin-bottom: 64px;
  }

  .container .contact form ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 8px;
    align-items: center;
    width: 288px;
    margin-left: 16px;
    padding: 0;
    background-color: #fff;
  }

  .container .contact form ul li label {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #7d7c84;
    padding: 0;
    font-family: "Poppins", serif;
    font-style: normal;
    margin: 4px 124px 0 16px;
  }

  .container .contact form ul li input {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
    border: none;
    height: 21px;
    padding: 0;
    margin: 4px 16px 8px 16px;
  }

  .container .contact form ul li textarea {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7d7c84;
    border: none;
    height: 21px;
    height: 112px;
    margin: 15px 16px;
  }

  .contact form ul li:last-child {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .contact form ul li button:hover,
  .contact form ul li button:focus {
    cursor: pointer;
    border: 1px solid #1a2236;
    background-color: #e5e5e5;
  }

  .contact .contact-inf {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 320px;
    height: 150px;
    background: #1a2236;
  }

  .contact .resume {
    display: flex;
    margin: 32px 111.4px 0 16px;
    height: 24px;
    gap: 16px;
  }

  .contact .contact-inf .resume p {
    color: #92dcdc;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  .contact .contact-inf .resume img {
    width: 22px;
    height: 22px;
    color: #92dcdc;
  }

  .contact .contact-inf .socila-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact .contact-inf .socila-media img {
    width: 24px;
    height: 24px;
  }
}
